h1 {font-family: 'Lobster', cursive; font-size: 70px; color: green;   text-align: center;} p {font-family: 'Lobster', cursive;   font-size: 70px;}
h1 {
    background-color: ;
}
body {
    background-image: url("http://www.shortlist.com/resource/binary/e461d9b8eee234af131d4339662991c9/comiccharcters480.gif");
} 
div {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
h2 {font-family: 'Lobster', cursive; font-size: 70px; color: red;text-align: center;